<p class="nav">Navigation</p>

<div class=links>
    <p>
    <%= link_to "Articles", articles_path %></p>
    <p>
        <%= link_to "Tags", tags_path %>
    </p>
    <p>
        <%= link_to "Authors", authors_path %>
    </p>
</div>